[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	ignorecase = false
[diff]
    tool = nvimdiff
[difftool "nvim"]
    cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvim"]
    cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[user]
	name = Jin SAKUMA
	email = jyori112@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[ghq]
	root = ~/src
[credential]
	helper = store
[maintenance]
	repo = /Users/j.sakuma/src/github.com/netprotections/data-warehouse
	repo = /Users/j.sakuma/src/github.com/netprotections/paleale-common
