[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = "*"
scipy = "*"

[dev-packages]
ipython = "*"
jupyter = "*"

[requires]
python_version = "3.6"
